.container{
    width: 500px;
    padding: 10px 20px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.container form input{
    padding: 10px 20px;
    width: 390px;
}
.container form input:focus{
    outline: none;
}
.container form button{
padding: 10px 5px;
background-color:#7F5283 ;
border-radius: 5px;
color: white;
font-weight: bold;
cursor: pointer;
}