.container{
    height: 100px;
    width: 500px;
    background-color: #7F5283;
    color: whitesmoke;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.container h2{
    text-align: center;
    margin: 0 auto;
}
.container .icon{
    margin-left: 10px;
}